<!doctype html>

{% load static %}

<html lang="en">
<head name="index-meta">
    <meta charset="utf-8">
    <meta name="description" content="Search Twitch Users">
    <meta name="author" content="xpherion">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<form name="search-box" action="{% url 'verify' %}" method="get">
    <input name="q" type="text" placeholder="Twitch Username">
    <input name="search-box-button" type="submit" value="Search">
</form>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

</html>
